[{:itonami.blueprint/social-impact [:worker-safety :local-jobs], :itonami.blueprint/domain :services/crane-operations, :itonami.blueprint/required-technologies [:robotics :telemetry :audit-ledger], :itonami.blueprint/isco-08 "8343", :itonami.blueprint/name "Independent Crane & Hoist Operations Practice", :itonami.blueprint/governor :crane-operations-governor, :itonami.blueprint/robotics true, :db/id -1, :itonami.blueprint/status :public-oss, :itonami.blueprint/id "cloud-itonami-isco-8343", :itonami.blueprint/license "AGPL-3.0-or-later"}]